h1{
    margin: auto;
    text-align: center;
    color: teal;
    font-size: xx-large;
    margin-top: 80px;
    margin-bottom: 50px;


}

body{
    margin: auto;
    margin-left: 50px;
    background-color: mintcream;
    border: 2px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;

}

html{
    background-color: white;
}

.carte{
    text-align: center;
}

p{
    margin-right: 2px;
    margin-left: 10px;
}

h2{
    color: steelblue;
    font-size: larger;
}

table {

    width: 50%;
    border-collapse: collapse;
    margin: 0 auto;


}
th {
    border: medium solid #6495ed;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.container{

    margin: 50px auto;

}

#herault{
    display: none;
}
.grostableau td{
    width: 50%;
    margin: 0 auto;
    border-style: 0;


}