html {
    font-family: 'Roboto', sans-serif;
}

#map { 
    height: 100vh;
    width: 100vh;
    float: left;
}

.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
}

#selector {
    /* float: right; */
    display: inline-block;
}

#information {
    background-color: rgb(201, 184, 137);
}